@mixin trans($prop: all, $d: $duration, $e: $easing) {
    transition: $prop $d $e;
}

@mixin paragraph($color: $darkestGray) {
    font-size: $sm;
    color: $color;
    line-height: 1.4;
    font-weight: 400;
}

@mixin button {
    @include trans;

    background: $link;
    border-radius: $radius;
    box-shadow: 0 3px 0 0 $mainColor - #333, 0 0 10px 3px rgba(0,0,0,.3);
    color: $white;
    display: inline-block;
    font-family: $mainFont;
    font-size: $xl;
    font-weight: 400;
    height: $base * 1.75;
    line-height: $base * 1.75;
    max-width: 350px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    position: relative;
    border: none;

    &:hover {
        background: $link + #333;
    }

    &:active {
        background: $mainColor - #333;
        box-shadow: 0 0 0 0 $mainColor - #333;
        transform: translateY(3px);
    }
}

@mixin title($size: $xxl, $color: $white, $align: 'center') {
    text-transform: uppercase;
    font-size: $size / 1.3;
    color: $color;
    text-align: #{$align};
    font-family: $titleFont;
    font-style: italic;
    letter-spacing: -1px;

    @include mq(md) {
        font-size: $size;
        letter-spacing: -2px;
    }
}

@mixin padd($mode: both) {
    @if $mode == both {

        padding: 16% 0;

        @include mq(sm){
            padding: 12% 0;
        }

        @include mq(md){
            padding: 8% 0;
        }
    }

    @if $mode == top {

        padding: 16% 0 0;

        @include mq(sm){
            padding: 12% 0 0;
        }

        @include mq(md){
            padding: 8% 0 0;
        }
    }

    @if $mode == bottom {

        padding: 0 0 16%;

        @include mq(sm){
            padding: 0 0 12%;
        }

        @include mq(md){
            padding: 0 0 8%;
        }
    }
}

@mixin overlay($level: .5, $zdex: 2) {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,$level);
    z-index: $zdex;
}

@mixin close($color: $white, $size: 24px) {
    position: absolute;
    display: block;
    width: $size;
    height: $size;
    cursor: pointer;
    transform: rotate(45deg);

    span{
        width: 100%;
        height: 2px;
        position: absolute;
        top:calc(50% - 1px);
        background: $color;
        display: block;

        &:last-child {
            transform: rotate(90deg);
        }
    }
}

@mixin caret($point: up, $size: 20px, $color: $white) {
    width: $size;
    height: $size;
    position: relative;
    display: inline-block;

    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $color;
        border-left: 2px solid $color;
        left:0;

        @if $point == up {
            top:60%;
            transform: rotate(135deg);
        }

        @if $point == down {
            bottom:10%;
            transform: rotate(-45deg);
        }
    }
}
