.libertex-spacer {
    height: $base;

    &--half {
        height: $base / 2;
    }

    &--double {
        height: $base * 2;
    }
}

.nopadding > [class*="col-"] {
     padding-left: 0 !important;
     padding-right: 0 !important;
}

.nopadding-xs > [class*="col-"] {
    @include mq(xs){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.nopadding-selective > .nopad-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
