header.header
    .container
        .header__container
            a.wow.fadeInLeft(href="#")
                img(src="images/libertex.png")
            a.wow.fadeInRight(href="#")
                img(src="images/james-signature.png")
